@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap');

body {
  font-family: 'Fira Code', monospace;
  /* background-image: linear-gradient(to bottom right, #1f1b1c, #121212); */
  background-color: #eaeaea;
}

.header-parent {
  display: grid;
  width:100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 20vw;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-position: 100% center;
  background-size: cover;
  color: #eaeaea;
}


.text-parent {
  grid-area: 1 / 1 / 2 / 2;
  backdrop-filter: blur(0.8px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.name-info #name {
  font-size: 5em;
}

.name-info #title {
  font-size: 2.5em;
  text-decoration: underline;
  text-align: center;
}

.image-parent {
  display: flex;
  justify-content: center;
  grid-area: 1 / 2 / 2 / 3;
  backdrop-filter: blur(0.8px);
}

.image-parent img {
  position: relative;
  transform: scale(0.8px);
}

.selfie-container {
  transform: scale(0.8);
  border: solid 5px #ffffff;
  border-radius: 25px;
}

.about-parent {
  display: flex;
  flex-wrap: wrap;
}

.info-card {
  display: flex;
  justify-content: flex-start;
  border-width: 8px;
  border-style: solid;
  border-image: linear-gradient(to top left, #121212, #4d4d4d) 30;
  padding: 15px;
  background-image: linear-gradient(to top left, #4d4d4d, #888888);
  margin: 15px;
  word-wrap: break-word;
  color: #eaeaea;
}

.info-card #project-title {
  font-size: 3.5em;
}

.info-card #project-title a {
  color: #eaeaea;
}

.info-card #project-description {
  font-size: 1.5em;
}

.info-card #project-stack {
  font-size: 0.9em;
  text-decoration: underline;
  color: #c3c3c3;
}

.info-logo-container {
  margin-right: 25px;
}