@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap');

html,
body {
  font-family: 'Fira Code', monospace;
  background-color: #FFE6C7;
  max-width: 100%;
  overflow-x: hidden;
  margin-bottom: 15px;
}

/* =============================== START HEADER =============================== */



@media (min-width: 768px) {


}

@media (min-width: 992px){

}

/* =============================== END HEADER =============================== */


/* =============================== START ABOUT =============================== */
.about-parent {
  width: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.info-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-width: 8px;
  border-style: solid;
  border-image: linear-gradient(to top left, #121212, #4d4d4d) 30;
  padding: 15px;
  background-image: linear-gradient(to top left, #4d4d4d, #888888);
  margin: 15px 15px 0px 15px;
  word-wrap: break-word;
  color: #eaeaea;
}

.info-card #project-title {
  font-size: 28px;
}

.info-card #project-title a {
  color: #eaeaea;
  text-decoration-thickness: 2px;
}

.info-card #project-description {
  font-size: 16px;
}

.info-card #project-stack {
  font-size: 12px;
  text-decoration: underline;
  color: #c3c3c3;
}

.info-logo-container {
  display: flex;
  align-items: center;
}

.info-logo-container img {
  height: 64px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .info-card {
    max-width: 40%;
    height: auto;
  }

}

@media (min-width: 992px){

  .info-card #project-title {
    font-size: 42px;
  }

  .info-card #project-description {
    font-size: 18px;
  }

  .info-card #project-stack {
    font-size: 14px;
  }

  .info-logo-container img {
    height: 60px;
  }

  .info-card {
    height: auto;
  }
}
/* =============================== END ABOUT =============================== */


/* =============================== START FOOTER =============================== */
.footer-parent {
  position: relative;
  width: 100%;
  top: 0%;
  background-color: #4d4d4d;
  bottom: 0%;
  color: #eaeaea;
}

.card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.card-link {
  display: flex;
  align-items: center;
  background-color: #4d4d4d;
  padding: 5px;
}

.card-container a {
  color: #eaeaea;
  text-decoration: none;
  font-size: 14px;
}

.card-link .card-name {
  margin-left: 5px;
}

.card-logo img {
  height: 14px;
}

@media (min-width: 768px){
  .card-container a {
    font-size: 18px;
  }

  .card-logo img {
    height: 18px;
  }
}

/* =============================== END FOOTER =============================== */

/* =============================== START HEADER =============================== */

.navbar-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 5px 0 5px 0;
}

.navbar-parent a {
  text-decoration: none;
  font-size: 32px;
}

/* =============================== END HEADER =============================== */