@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap');

/* html {
  font-size: 100%;
} */

body {
  font-family: 'Fira Code', monospace;
  /* background-image: linear-gradient(to bottom right, #1f1b1c, #121212); */
  background-color: #eaeaea;
  padding-bottom: 50px;
}

.header-parent {
  /* display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 10%;
  grid-column-gap: 5px;
  grid-row-gap: 5px; */
  display: flex;
  width: 100%;
  flex-wrap: wrap-reverse;
  justify-content: center;
  background-position: 100% center;
  background-size: cover;
  color: #eaeaea;
  border-bottom: #121212 5px solid;
}

.text-parent {
  /* grid-area: 1 / 1 / 2 / 2; */
  backdrop-filter: blur(0.8px);
  display: flex;
  /* justify-content: flex-end;
  align-items: center; */
}
.name-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.name-info #name {
  /* font-size: clamp(1em, 10vw, 5em); */
  font-size: 40px;
  background-color: #121212d0;
  padding-left: 25px;
  padding-right: 25px;
  
}

.name-info #title {
  /* font-size: 2.5em; */
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
  background-color: #121212d0;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}

.image-parent {
  display: flex;
  justify-content: center;
  grid-area: 1 / 2 / 2 / 3;
  backdrop-filter: blur(0.8px);
}

.image-parent img {
  position: relative;
  width: 225px;
}

.selfie-container {
  transform: scale(0.8);
  border: solid 5px #ffffff;
  border-radius: 25px;
}

.about-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-card {
  display: flex;
  justify-content: flex-start;
  max-width: 45%;
  border-width: 8px;
  border-style: solid;
  border-image: linear-gradient(to top left, #121212, #4d4d4d) 30;
  padding: 15px;
  background-image: linear-gradient(to top left, #4d4d4d, #888888);
  margin: 15px;
  word-wrap: break-word;
  color: #eaeaea;
}

.info-card #project-title {
  font-size: clamp(32px, 8vw, 48px);
}

.info-card #project-title a {
  color: #eaeaea;
}

.info-card #project-description {
  font-size: clamp(16px, 5vw, 24px);
}

.info-card #project-stack {
  font-size: clamp(14px, 1vw, 16px);
  text-decoration: underline;
  color: #c3c3c3;
}

.info-logo-container {
  margin-right: 25px;
}

.footer-parent {
  position: fixed;
  width: 100%;
  background-color: #121212;
  bottom: 0%;
  color: #eaeaea;
}

.card-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-link {
  display: flex;
  border-left: #eaeaea 2px solid;
  align-items: center;
  background-color: #4d4d4d;
  padding: 5px 10px 5px;
}

.card-container a {
  color: #eaeaea;
  text-decoration: none;
}

.card-link .card-name {
  margin-left: 5px;
}

.card-logo img {
  height: 14px;
}